services:
  - type: web
    name: electronics-shop-backend
    env: node
    rootDir: server
    plan: free
    buildCommand: npm install && npx prisma generate
    startCommand: node app.js
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: NODE_ENV
        value: production
      - key: FRONTEND_URL
        sync: false